{#You can override this file's block. More options see "https://nhn.github.io/tui.editor/api/latest/ToastUIEditor.html"#}

{% block toast_ui_editor_widget %}

    <textarea {% if enable %} style="display: none"{% endif %} {{ block('widget_attributes') }}>{{ value }}</textarea>

    {% if enable %}
        <div id="editor_{{ id }}"></div>
        {{ block('_toast_ui_editor_javascript') }}

    {% endif %}

{% endblock %}

{% block _toast_ui_editor_javascript %}
    {{ toast_ui_editor_widget_editor('editor_'~id, config, value, { "editor": editor } ) }}
    {{ block('_toast_ui_editor_events_hooks') }}
{% endblock %}

{% block _toast_ui_editor_events_hooks %}

    <script>
        editor_{{ id }}.on("change",function(){
            document.querySelector('textarea#{{ id }}').innerHTML = {% if config.to_html is defined and config.to_html == true %}editor_{{ id }}.getHTML(){% else %}editor_{{ id }}.getMarkdown(){% endif %};
        });
    </script>

{% endblock %}